configuration {
  modes: [ combi ];
  combi-modes: [ window, drun, run ];
}

element {
  orientation: horizontal;
  children: [ element-text, element-icon ];
  spacing: 5px;
}

@theme "/usr/share/rofi/themes/android_notification.rasi"
